* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: rgb(86, 134, 40);
}

.nav-left {
  padding-left: 150px;
}

.nav-right {
  padding-right: 150px;
}

.navbar-nav a:hover {
  color: white;
}

.card {
  background-color: transparent !important;
}

.width {
  width: calc(100% / 3 - 2rem);
  position: relative;
}

.icon {
  position: absolute;
  top: 0;
  left: 5px;
}